<div class="row no-gutters mt-5">
    <div class="card-container-background mt-md-5 col-12">
        <div class="row no-gutters">
            <!-- Text container -->
            <div class="col-4 card-left-container d-none d-sm-block">
                <div class="container-bg-image"><div class="container-bg-image-cover"></div></div>
                <div class="card-text-container">
                    <div class="card-text-heading">
                        ZBC-Passwordmanager
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-text-body">
                        <p>Det er vigtigt at det password du opretter er sikkert og stærkt, da det beskytter resten af din adgangs oplysninger. Derfor har Implementerer vi ekstra stærke krav til det password du vælger:</p>
                        <ul>
                            <li>Dit password skal være mindst 40 karakterer langt.</li>
                            <li>Din password må ikke indeholde dit navn, dit firma navn, eller andre relaterede oplysninger.</li>
                            <li>Dit password må ikke indeholde sprogmønstre eller andre gentagelser.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Form container  -->
            <div class="col-8 card-right-container">
                <div class="w-100 text-center card-right-heading">
                    <h2 class="card-right-heading-text">Opret bruger</h2>
                </div>

                <div class="col-10 offset-md-1 col-xs-12 mt-md-2 card-right-content-container">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" formControlName="username" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Email skal udfyldes</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input [type]="passwordShown ? 'text' : 'password'"  formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password skal udfyldes</div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <input [type]="passwordShown ? 'text' : 'password'"  formControlName="retypepassword" placeholder="Gentag password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.retypepassword.errors }" />
                            <div *ngIf="submitted && f.retypepassword.errors" class="invalid-feedback">
                                <div *ngIf="f.retypepassword.errors.required">Password skal udfyldes</div>
                                <div *ngIf="f.retypepassword.errors.mustMatch">Passwords skal være ens</div>
                            </div>
                        </div>

                        <div class="w-100">
                            <div class="show-password-container text-right">
                                <app-passwordtoggler 
                                    [ShowPassword]='passwordShown' 
                                    (click)="onShowPasswordClick()"></app-passwordtoggler>
                            </div>
                        </div>
    
    
                        <!-- Login button -->
                        <div class="button-container col-12 col-md-8 offset-md-2">
                            <button [disabled]="loading" class="btn btn-primary btn-block">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Opret
                            </button>
                        </div>
                        
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0 validation-popup">{{error}}</div>
        
                    </form>
                </div>

                <!-- Create user link -->
                <div class="bottom-link-container">
                    <a [routerLink]="['/login']">
                        Tilbage
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>