<div class="header-container">
    <div class="banner">
        <h1 class="banner-text">ZBC-Passwordmanager</h1>
    </div>
</div>
<div class="row body-container">
    <app-new-sitekey (addedNewSitekey)="newSiteKeyCreated($event)" class="new-sitekey-container"></app-new-sitekey>

    <div class="col-12 all-sitekeys-container">

        <div *ngIf="loading" class="d-flex justify-content-center mt-5">
            <div class="spinner-border" role="status">
              <span class="sr-only">Henter sidenøgler...</span>
            </div>
          </div>


        <div class="col-12 single-sitekey-headers">
            <div class="row">
                <div class="col-3">
                    <span class="font-weight-bold">Side</span>
                </div>
                <div class="col-4">
                    <span class="font-weight-bold">Password</span>
                </div>
                <!-- <div class="col-2 text-center">
                    <span class="font-weight-bold">Handling</span>
                </div>
                <div class="col-3 text-center">
                    <span class="font-weight-bold">Advarsel</span>
                </div> -->
            </div>
        </div>
        <div *ngIf="usersSiteKeys" class="col-12">
            <div *ngFor="let sitekey of usersSiteKeys" class="single-sitekey-container row">
                <div class="sitekey-site-con col-3 row no-gutters">
                    <div class="col-2">
                        <div class="site-icon">
                            <span>{{sitekey.sitename.substring(0,4)}}</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <span class="w-100 d-block">{{sitekey.sitename}}</span>
                        <span class="w-100 d-block text-muted">{{sitekey.loginName}}</span>
                    </div>
                </div>
                <div class="sitekey-password-con col-4">
                    <span class="w-100 d-block">{{sitekey.loginPassword}}</span>
                </div>
                <!-- <div class="sitekey-action-con col-2 text-center">
                    <span>Handling</span>
                </div>
                <div class="sitekey-warning-con col-3 text-center">
                    <span>Advarsel</span>
                </div> -->
            </div>
        </div>



    </div>
</div>